.custom-center-content-container{
    max-width: 1500px; margin: auto;
}

#projects-section-title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#software-engineer-title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    color: aquamarine;
}

#sales-engineer-title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    color: #FFBE7B;
}

#tagline-text .char {
    opacity: 0;
}

#scroll-down-svg{
    opacity: 0;
}

#software-engineer-title .char, #sales-engineer-title .char, #projects-section-title .char {
    transform: translateY(100%);
    transition: transform .5s;
}
#nav1 {
    transition: all 0.4s;
}

#gallery .gallery-item {
    animation: animateSomething 15s infinite linear;
}

@keyframes animateSomething {
    0% {
        
    }
    100% {
        transform: translateX(-900px);
    }
}